/**标题 icon 控制
标题的结构为：
<div>
<div> 图标
<img 注意：emoji 是另一个样式>
<div> 控制按钮 </div>
</div>
<div> 标题 </div>
</div>

要把标题换到图标的右边，需要修改整个控件的 flex-direction
并修改控制栏的位置为 absolute
随后是调整图标图像的大小，注意 emoji 要单独调整
**/

/*标题位置*/
div.layout > div.layout-content:nth-child(3) > div:first-child > div:first-child {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
}

div.layout.layout-side-peek > div.layout-content:nth-child(3) > div:first-child > div:nth-child(3) > div:first-child {
  font-size: 38px !important;
}

/*控制栏位置*/
div.layout > div.layout-content:nth-child(3)  div.notion-page-controls {
  margin-top: 0 !important;
  position: absolute;
  top: -35px;
  padding-top: 0 !important;
}

div.layout.layout-side-peek > div.layout-content:nth-child(3) > div:first-child {
  display: flex;
  margin-top: 35px;
}

div.layout.layout-side-peek > div.layout-content:nth-child(3) > div:first-child >  div:first-child {
  position: absolute;
  top: 0;
}

div.layout.layout-side-peek > div.layout-content:nth-child(3) > div:first-child >  div:first-child > div.peek-top-hover-area:first-child > div.notion-page-controls {
  flex-wrap: nowrap !important;
}

/*图标位置*/
div.layout > div.layout-content:nth-child(3)  div.notion-record-icon {
  margin-top: 8px !important;
  margin-right: 8px !important;
  width: 40px !important;
  height: 40px !important;
}

div.layout > div.layout-content:nth-child(3)  div.notion-record-icon div {
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
}

div.layout > div.layout-content:nth-child(3)  div.notion-record-icon img {
  object-fit: fill !important;
  height: 40px !important;
  width: 40px !important;
}


/**标签横向排列**/
.notion-collection-item > a > div:nth-child(3) {
  display: flex;
  flex-direction: row !important;
}

/**Callout 图标去除**/
.notion-callout-block > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  display: none !important;
}

/**引用格式**/
div.notion-quote-block > blockquote[style *= "font-size"] {
  background-color: #FFFDF7; 
  border-radius: 6px;
  padding: 10px !important;
}

body.dark div.notion-quote-block > blockquote[style *= "font-size"] {
  background-color: rgba(255, 255, 255, 0.03);
}


div.notion-quote-block > blockquote[style *= "font-size: 1em"] {
  font-size: 0.9em !important;
}

/**修复滚动条悬浮高亮**/


/* checkbox 样式 */
.checkboxSquare {
  border-radius: 2px;
}

.notion-to_do-block > :first-child > :first-child > :first-child[style *= "background: rgb(35, 131, 226)"] {
  border-radius: 2px;
  background: rgb(241 51 98) !important;
}


/* 列表缩进线 */

/* 列表缩进线 */
.notion-page-content .notion-bulleted_list-block > div > div:last-child,
.notion-page-content .notion-numbered_list-block > div > div:last-child,
.notion-page-content .notion-to_do-block > div > div:last-child,
.notion-page-content .notion-toggle-block > div > div:last-child,
.notion-page-content .notion-table_of_contents-block > div > div > a > div > div {
  position: relative;
}

.notion-page-content .notion-bulleted_list-block > div > div:last-child::before,
.notion-page-content .notion-numbered_list-block > div > div:last-child::before,
.notion-page-content .notion-to_do-block > div > div:last-child::before,
.notion-page-content .notion-toggle-block > div > div:last-child::before {
  content: '';
  position: absolute;
  height: calc(100% - 2em);
  top: 2em;
  margin-inline-start: -14.48px;
  border-left: 1px solid grey;
  opacity: 0.25;
}


/* 公式字体，需安装 STIX */

.katex {
  font: normal 1.2em !important;
}

.katex .textrm,
.katex .mathit,
.katex .mathbf,
.katex .mathrm {
  font-family: "STIX Two Math", "KaTex_Main", serif !important;
}

/* 去除 calendar 广告 */

.notion-calendar-view > div:first-child > div:first-child > div:first-child > div:nth-child(3) {
  display:none !important;
}

/* 数据库横向溢出 */
div.notion-selectable.notion-collection_view-block {
  overflow-x: clip !important;
}


/* 字体设置 */
/* 等宽字体 */
div [style *="monospace"]{
  font-family: "Ayuthaya", "Yuanti SC" !important;
}
